<!DOCTYPE html>
<html lang="ca-ES">
  <head>
    <%= render "head" %>
  </head>
  <body>
    <%= render "header" %>
    <main class="container">
    <%= yield %>
    </main>
    <%= render "footer" %>
  </body>
</html>